name: network-tests
on: [pull_request, push]

jobs:
#  network_build_ubuntu:
#    name: Ubuntu Checks
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        node-version: [12.x]
#    steps:
#    - uses: actions/checkout@v1
#    - name: Use Node.js ${{ matrix.node-version }}
#      uses: actions/setup-node@v1
#      with:
#        node-version: ${{ matrix.node-version }}
#    - name: checks
#      run: |
#        yarn install --frozen-lockfile
#        yarn workspace joystream-testing checks
#
#  network_build_osx:
#    name: MacOS Checks
#    runs-on: macos-latest
#    strategy:
#      matrix:
#        node-version: [12.x]
#    steps:
#    - uses: actions/checkout@v1
#    - name: Use Node.js ${{ matrix.node-version }}
#      uses: actions/setup-node@v1
#      with:
#        node-version: ${{ matrix.node-version }}
#    - name: checks
#      run: |
#        yarn install --frozen-lockfile --network-timeout 120000
#        yarn workspace joystream-testing checks

  build_node:
    name: Build node
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
#      - uses: jetli/wasm-pack-action@v0.3.0
#        with:
#        # Optional version of wasm-pack to install(eg. 'v0.9.1', 'latest')
#          version: 'latest'
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: setup wasm-pack
        run: yarn global add wasm-pack
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --verbose
